/*
.w3-theme-l5 {color:#000 !important; background-color:#fefbf4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffffff !important}
.w3-theme-l3 {color:#000 !important; background-color:#fae7b8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#f8da95 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f6ce71 !important}
.w3-theme-d1 {color:#000 !important; background-color:#f2b72f !important}
.w3-theme-d2 {color:#000 !important; background-color:#f0ad11 !important}
.w3-theme-d3 {color:#fff !important; background-color:#d3980d !important}
.w3-theme-d4 {color:#fff !important; background-color:#b5820c !important}
.w3-theme-d5 {color:#fff !important; background-color:#976d0a !important}
*/
.w3-theme-l5 {color:#000 !important; background-color:#f3f3f9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fefefe !important}
.w3-theme-l3 {color:#000 !important; background-color:#afb0d7 !important}
.w3-theme-l2 {color:#fff !important; background-color:white !important}
.w3-theme-l1 {color:#fff !important; background-color:#5f62ae !important}
.w3-theme-d1 {color:#fff !important; background-color:#3f417d !important}
.w3-theme-d2 {color:#fff !important; background-color:#383a6f !important}
.w3-theme-d3 {color:#fff !important; background-color:#313361 !important}
.w3-theme-d4 {color:#fff !important; background-color:#2a2b53 !important}
.w3-theme-d5 {color:#fff !important; background-color:#232446 !important}

.w3-theme-light {color:#000 !important; background-color:#f3f3f9 !important}
.w3-theme-dark {color:#fff !important; background-color:#232446 !important}
.w3-theme-action {color:#fff !important; background-color:#232446 !important}

.w3-theme {color:#fff !important; background-color:#47498c !important}
.w3-text-theme {color:#47498c !important}
.w3-border-theme {border-color:#47498c !important}
.w3-border {border-color:#47498c !important}
.page-wrapper.w3-animate-opacity{animation:none!important;}

.w3-theme {color:#000 !important; background-color:#E7B059 !important}

.w3-sios-footer-contact {color:#000 !important; background-color:#47498C !important; border-color: #47498C !important}
.w3-sios-footer-logos {color:#000 !important; background-color:#e8e8e8 !important}

.w3-sios-main-menu {color:#000 !important; background-color:#e7b059 !important}
.w3-sios-header {color:#000 !important; background-color:#ffffff !important}

#header {
    background-image: url('/system/files/common/Banner.png');
    background-position: center;
    background-size: 100%;
}

/* Footer sstyling */
#footer-container .footer-box > div {
    border-color: #47498C !important;
    background-color: #47498C !important;
}

/* Footer images*/
span.sios-footer > img {
	display: unset !important;
}

#block-sios-contactinformation13 {
    border-color: #47498C !important;
    background-color: #47498C;
}
#block-sios-contactinformation23 {
    border-color: #47498C !important;
    background-color: #47498C;
}
#block-sios-contactinformation33 {
    border-color: #47498C !important;
    background-color: #47498C;
}
.node .node__title {
    float: left;
    color: #47498C !important;
}
h1 a, h2 a, h3 a, h4 a {
  color: #47498C !important;
}

a {

  color: #47498C !important;
 }

a.tMenu {
	color: #fff !important;
}
a[role=menuitem] {
	/*color: #fff !important;*/
    color: #4c4e97 !important;
}
/* Put smaller font size on block titles */
h2.w3-block-title {
  font-weight: 400;
  font-size: 20px;
  padding: 4px 8px !important;
  margin: 5px 0 !important;
}

/* Set the page with to 80 percent 
.w3-width-95-percent {
  max-width: 95%!important;
}*/
/* Override the font of the body text */
body {
  font-family:Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

/* Override the headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #47498C !important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 5px 0 !important;
}

/*Lara meeting minutes view */
.view-meeting-minutes-for-all-wg table thead tr th{
   width: 33%;
}

.view-tutorials .col-1, .col-2{
   max-width: unset;
}

/*Lara accordion*/
.ckeditor-accordion-container > dl dt > a:not(.button) {
   background-color: #d5dde2;
   border-bottom: none;
   margin: 0.5em;
}
.ckeditor-accordion-container > dl dt > a:hover {
    background-color: #e7b059;
}

.ckeditor-accordion-container > dl {
   border: none;
}

.ckeditor-accordion-container > dl dt.active > a {
   background-color: #e7b059;
   border: 1px solid #ddd;
}

.home-header {
   background-color: rgb(231, 176, 89); 
   font-size: x-large; 
   max-width: 490px; 
   width: 100%; 
   padding: 10px 10px;
   text-align: center;
   margin: auto;
   margin-bottom: 20px;
   height: 33%;
}

.home-image {
   margin: 3px 3px 12px 3px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[class*="col-home-"] {
  float: left;
  padding: 0px;
}

table th {
  background: #474994;
  color: #ffffff;
  font-weight: bold;
}

table {
   border-collapse: unset;
}


.boxes-header {
   background-color: rgb(231, 176, 89); 
   font-size: x-large; 
   max-width: 490px; 
   width: 100%; 
   padding: 10px 10px;
   text-align: center;
   margin: auto;
}

/* button class*/
.sios-button {
   border-radius: 4px;
   background-color: #474994;
   color: white !important;
   font-size: 16px;
   padding: 10px;
   font-weight: bold;
   border: none;
}


/*
#Aen - magnarem
*/
.aen-details {
   border-color: black !important;
   border-width: 1px !important;
   border-style: solid !important;
   padding: 8px 16px !important;
   margin-top: 16px !important;;
   margin-bottom: 16px !important;

   }
   .aen table th  a:link {
        color: white !important;
}
.aen table th a:visited {
        color: white !important;
}
.aen table th a:hover {
        color: grey !important;
}
/*
Metadata details pane link and heading colora
*/
#drupal-off-canvas a {
	color: #6495ED !important;
}
#drupal-off-canvas h1 {
        color: #6495ED !important;
}
#drupal-off-canvas h2 {
        color: #6495ED !important;
}

